section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 250px;
}
.login,
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

div input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

div .radio-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

div .radio-group input {
  margin-bottom: 0;
}

label {
  color: #666;
}

#code {
  margin-top: 20px;
  display: none;
}

button {
  padding: 10px;
  width: 100%;
  font-weight: 600;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 0.5s;
  margin-bottom: 10px;
  width: 100%;
}

button:hover {
  background-color: var(--main-color);
  color: white;
  border-color: white;
}

.login,
.signup {
  display: none;
}
